<!doctype html>
<html lang="{{ language }}">
    <head>
        {% block head %}
            <meta charset="UTF-8" />
              <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
            <title>{% block title %}{% endblock %} - {{ strings.title }}</title>
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen gap-4">
            {% include 'header.twig' %}
        <main class="container px-4 mx-auto flex flex-col gap-4">
        {% block content %}{% endblock %}
        </main>
        <div id="footer"  class="container px-4 mx-auto text-xs text-gray-700">
            {% block footer %}
            {% if language == 'fr' %}
                © Bureau du directeur parlementaire du budget, Ottawa, Canada
            {% else %}
                © Office of the Parliamentary Budget Officer, Ottawa, Canada
            {% endif %}
            {% endblock %}
        </div>
    </body>
</html>