{% extends "base.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}



<h1 class="leading-none font-thin mb-4 text-4xl">
{{ title }}
</h1>

{% if abstract %}
<div class="prose no-max-w">
{{ abstract | raw  }}
</div>
{% endif %}




{% endblock %}